In [3]:
# import libraries needed
import numpy as np
import pandas as pd

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [4]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("retail/oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [5]:
oil_series = pd.Series(oil_array)
oil_series.name = 'Oil Prices'

In [6]:
oil_series.mean()

51.128299999999996

In [7]:
oil_series.astype('int')

0     52
1     51
2     51
3     52
4     52
      ..
95    45
96    47
97    47
98    47
99    48
Name: Oil Prices, Length: 100, dtype: int64

In [8]:
oil_series.size

100

In [9]:
oil_series.values.astype('int').mean()

50.66

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [10]:
# extract date column from oil DataFrame and grab first 100 rows
oil_series = pd.Series(oil_array)
oil_series.name = 'Oil Prices'
dates = pd.Series(oil["date"]).iloc[1000:1100]

In [11]:
price = pd.Series(oil_array, index=dates)
oil_series.index = dates

In [12]:
price

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Length: 100, dtype: float64

In [13]:
price_ = oil_series
price_

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil Prices, Length: 100, dtype: float64

In [14]:
# Then, take the mean of the first 10 and last 10 prices of the series.
first_ten = price_.iloc[:10]
first_ten_mean = first_ten.mean()
first_ten_mean

52.765

In [15]:
# Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.
prices_by_date = price_.loc['2017-01-01':'2017-01-07']
prices_by_date

date
2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
Name: Oil Prices, dtype: float64

In [16]:
price_.reset_index(drop=True)

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: Oil Prices, Length: 100, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [17]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [18]:
sorted_vals = oil_series.sort_values()
sorted_vals

date
2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
              ...
2017-02-28    54.00
2016-12-28    54.01
2017-02-21    54.02
2017-02-27    54.04
2017-02-23    54.48
Name: Oil Prices, Length: 100, dtype: float64

In [19]:
top_ten_vals = sorted_vals.iloc[:10]

In [20]:
with_arranged_dates = top_ten_vals.sort_index(ascending=False)
with_arranged_dates

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: Oil Prices, dtype: float64

In [21]:
# At one row
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: Oil Prices, dtype: float64

In [22]:
mask = oil_series.index.isin(dates) & (oil_series <= 50)
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: Oil Prices, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [23]:
# Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.
new_price = oil_series * 1.1 + 2

In [24]:
new_price

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: Oil Prices, Length: 100, dtype: float64

In [25]:
# create a series that represents the difference between each price and max price
new_price.max()

61.928000000000004

In [26]:
new_price_difference = oil_series - new_price.max()
new_price_difference

date
2016-12-20    -9.708
2016-12-21   -10.488
2016-12-22    -9.948
2016-12-23    -9.918
2016-12-27    -9.108
               ...
2017-05-09   -16.088
2017-05-10   -14.648
2017-05-11   -14.118
2017-05-12   -14.098
2017-05-15   -13.068
Name: Oil Prices, Length: 100, dtype: float64

In [27]:
# extract the month from the string dates in the index and store them as an integer in their own series
month = oil_series.index.str[5:7].astype('int')

In [28]:
pd.Series(month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [29]:
price_[price_.index.str[5:7] == '03'].sum()

1134.5399999999997

In [30]:
price_[price_.index.str[5:7] == '03'].mean()

49.32782608695651

In [31]:
price_[price_.index.str[5:7] == '01'].value_counts().sum()

20

In [32]:
price_[price_.index.str[5:7] == '02'].value_counts().sum()

19

In [33]:
price_[price_.index.str[5:7].isin(['01', '02'])].value_counts().sum()

39

In [34]:
price_.quantile([0.1, 0.9])

0.1    47.299
0.9    53.811
Name: Oil Prices, dtype: float64

In [35]:
oil_series.astype('int').value_counts(normalize=True)

Oil Prices
53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: proportion, dtype: float64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [36]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)
oil_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: Oil Prices, Length: 100, dtype: float64

In [37]:
oil_series.isna().sum()

2

In [38]:
oil_series.fillna(oil_series.median())

date
2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: Oil Prices, Length: 100, dtype: float64

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [50]:
ninety_percent = price.quantile([0.9])
ninety_percent = ninety_percent.iloc[0]

In [58]:
price.where(price < ninety_percent, 'buy').where(~(price < ninety_percent), 'wait')

date
2016-12-20    wait
2016-12-21    wait
2016-12-22    wait
2016-12-23    wait
2016-12-27    wait
              ...
2017-05-09    wait
2017-05-10    wait
2017-05-11    wait
2017-05-12    wait
2017-05-15    wait
Length: 100, dtype: object

In [69]:
price

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Length: 100, dtype: float64

In [70]:
price.where((price.index == '2016-12-23') | (price.index == '2017-05-10'), price * 0.9).where(
    ~((price.index == '2016-12-23') | (price.index == '2017-05-10')), price * 0.9)

date
2016-12-20    46.998
2016-12-21    46.296
2016-12-22    46.782
2016-12-23    46.809
2016-12-27    47.538
               ...
2017-05-09    41.256
2017-05-10    42.552
2017-05-11    43.029
2017-05-12    43.047
2017-05-15    43.974
Length: 100, dtype: float64

In [75]:
def buy_bool(price_value, limit):
    if price_value < limit:
        return 'Buy'
    return "Wait"


# oil_series.apply(buy_bool, args=(oil_series.quantile(0.9),))
# One important thing is that arguments should be provided as iterable => as list or a tuple, even if it's just one value
oil_series.apply(buy_bool, args=(ninety_percent,))

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: Oil Prices, Length: 100, dtype: object

In [76]:
oil_series.apply(lambda x: "Buy" if x < ninety_percent else "Wait")

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: Oil Prices, Length: 100, dtype: object

In [78]:
np.where(oil_series.index.isin(["2016-12-23" , "2017-05-10"]), oil_series *0.9, oil_series *1.1)

array([57.442,    nan, 57.178, 46.809, 58.102, 59.411, 59.18 , 59.125,
       57.596, 58.586, 59.147, 59.378, 57.145, 55.902, 57.409, 58.311,
       57.596, 57.695, 56.232, 56.529, 57.563, 58.047, 57.618, 57.354,
       58.564, 58.498, 57.893, 58.025, 59.29 , 58.905, 59.191, 58.311,
       57.409, 57.607, 58.289, 59.224, 58.256, 58.531, 58.421, 58.751,
       58.751, 59.422, 58.971, 59.928, 59.389, 59.444, 59.4  , 59.202,
       57.893, 58.663, 58.509, 57.948, 54.813, 53.625, 52.855, 52.745,
       51.964, 53.174, 53.13 , 53.174, 52.569, 51.722, 52.019, 51.7  ,
       52.03 , 51.722, 53.196, 54.417, 55.33 , 55.594, 55.275, 56.089,
       56.254, 56.859, 57.475, 58.366, 58.718, 58.432, 58.509, 57.882,
       57.706, 55.539, 55.286, 54.604, 53.79 , 54.142, 54.142, 53.856,
       54.241, 53.713, 52.415, 52.569, 50.105, 50.853, 51.106, 50.424,
       42.552, 52.591,    nan, 53.746])

In [79]:
df = pd.DataFrame(oil_series)
df

            Oil Prices
date
2016-12-20       52.22
2016-12-21         NaN
2016-12-22       51.98
2016-12-23       52.01
2016-12-27       52.82
...                ...
2017-05-09       45.84
2017-05-10       47.28
2017-05-11       47.81
2017-05-12         NaN
2017-05-15       48.86

[100 rows x 1 columns]